{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}


    <div class="section container">
        <h2>History</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table-->
                {% for rec in records %}
                    <tr>
                        <td>{{ rec.symbol | upper }}</td>
                        <td>{{ rec.shares }}</td>
                        <td>{{ rec.price }}</td>
                        <td>{{ rec.ts }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
