{% extends "layout.html" %}

{% block title %}
    PlayList
{% endblock %}

{% block main %}


    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <audio controls>
        <source src="static/music/{{ file }}">
         Your browser does not support the audio element.
      </audio>
    {% endfor %}


{% endblock %}
