{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}


    <div class="section container">
        <h2>{{ message }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table-->
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.total }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ cash }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total }}</td>
                </tr>

            </tbody>
        </table>
    </div>


{% endblock %}
